<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/register.css">

</head>

<body>
    <canvas id="canvas"></canvas>
    <div class="box">
        <div class="user_title">
            注册
        </div>
        <div class="user_info">
            <input type="text" placeholder="请输入用户名" id="account"/>
        </div>
        <div class="user_info">
            <input type="password" placeholder="请输入密码" id="password"/>
        </div>
        <div class="user_info">
            <input type="password" placeholder="请输入重复密码" id="password2"/>
        </div>
        <div class="user_info_btn">
            <button>
                <a href="Javascript:;;" id="regbtn">
                    注册
                </a>
            </button>
            <a href="login" class="back">
                已有账号？返回登录
            </a>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/register.js"></script>
</body>

</html>